# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd

# ---- Environment / Secrets ----
.env
*.env

# ---- Virtual Environment ----
venv/
env/
.venv/
Lib/
Scripts/
pyvenv.cfg

# ---- IDE / Editor files ----
.idea/
.vscode/

# ---- Cache files ----
CACHEHDIR.TAG

# ---- System ----
.DS_Store
Thumbs.db
